body {
  font-family: 'Arial Nova', Arial, sans-serif;
  background-color: #D81B60;
  color: white;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.malla {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.anio {
  background: #ff5aa4;
  border-radius: 12px;
  padding: 15px;
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 230px;
}

.anio h2 {
  text-align: center;
  margin: 0 0 10px 0;
  font-weight: 700;
}

.semestre {
  background: #ff96c5;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.semestre h3 {
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  color: white;
}

.ramo {
  background: #ff1b82;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  transition: background-color 0.3s ease;
  color: white;
  font-weight: 600;
}

.ramo:hover:not(.bloqueado):not(.aprobado) {
  background: #f70071;
}

.ramo.bloqueado {
  background: #ff96c5;
  color: #eeeeeecc;
  cursor: default;
}

.ramo.aprobado {
  background-color: #f70071 !important;
  color: white !important;
  font-style: italic;
  text-decoration: line-through;
  cursor: default;
}
